# Day 57/60 days of Machine Learning from scratch
# Practical Implementation of Naive bayes Classifier

<h4>
    Naive Bayes is a classification algorithm for binary (two-class) and multi-class classification problems <br><br>
    The representation for naive Bayes is probabilities.<br><br>
    P(A|B) = { P(B|A) P(A)} / P(B)<br><br>
    There will be no relation between the datas.<br><br>
    It has three types: <br>-Gaussian<br>-Multimodal<br>-Bernoulli

</h4>

In [37]:
# let's focus on Gaussion for now to predict whether the band performance sell out or not

In [38]:
import pandas as pd
import numpy as np

In [39]:
num_items = 41
data = {
    'City Population': np.random.randint(10000, 1000000, num_items),
    'Continent': np.random.choice(['Asia', 'Europe', 'North America', 'South America'], num_items),
    'Venue Capacity': np.random.randint(500, 20000, num_items),
    'Day Of Week': np.random.choice(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'], num_items),
    'Multiple Concerts': np.random.randint(0, 2, num_items),
    'Sold Out': np.random.randint(0, 2, num_items)
}

In [40]:
df = pd.DataFrame(data  = data)

In [50]:
df.head()

,City Population,Continent,Venue Capacity,Day Of Week,Multiple Concerts,Sold Out
0,824530,North America,3877,Sunday,1,0
1,466109,Asia,17752,Wednesday,0,0
2,595926,Asia,8796,Tuesday,1,1
3,765066,Europe,14274,Friday,0,1
4,91716,Asia,5728,Saturday,1,1

In [51]:
df2 = pd.get_dummies(df[['Continent', 'Day Of Week']])

In [52]:
df2.head()

,Continent_Asia,Continent_Europe,Continent_North America,Continent_South America,Day Of Week_Friday,Day Of Week_Monday,Day Of Week_Saturday,Day Of Week_Sunday,Day Of Week_Thursday,Day Of Week_Tuesday,Day Of Week_Wednesday
0,False,False,True,False,False,False,False,True,False,False,False
1,True,False,False,False,False,False,False,False,False,False,True
2,True,False,False,False,False,False,False,False,False,True,False
3,False,True,False,False,True,False,False,False,False,False,False
4,True,False,False,False,False,False,True,False,False,False,False

In [53]:
#Ordinal Encoder since we have a categorical data
from sklearn.preprocessing import OrdinalEncoder

In [63]:
# To Get the number of columns in the dataframe
n_features = len(df2.columns)

# Now Creating an OrdinalEncoder instance for boolean values
enc = OrdinalEncoder(categories=[[False, True]] * n_features)

# Apply the encoder to all columns
df2 = pd.DataFrame(enc.fit_transform(df2), columns=df2.columns)

In [65]:
df2.head()

,Continent_Asia,Continent_Europe,Continent_North America,Continent_South America,Day Of Week_Friday,Day Of Week_Monday,Day Of Week_Saturday,Day Of Week_Sunday,Day Of Week_Thursday,Day Of Week_Tuesday,Day Of Week_Wednesday
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [66]:
df3 = pd.concat([df,df2], axis = 1)

In [69]:
df3.head()

,City Population,Continent,Venue Capacity,Day Of Week,Multiple Concerts,Sold Out,Continent_Asia,Continent_Europe,Continent_North America,Continent_South America,Day Of Week_Friday,Day Of Week_Monday,Day Of Week_Saturday,Day Of Week_Sunday,Day Of Week_Thursday,Day Of Week_Tuesday,Day Of Week_Wednesday
0,824530,North America,3877,Sunday,1,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,466109,Asia,17752,Wednesday,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,595926,Asia,8796,Tuesday,1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,765066,Europe,14274,Friday,0,1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,91716,Asia,5728,Saturday,1,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [70]:
df4 = df3.drop(['Continent' , 'Day Of Week'], axis = 1)

In [71]:
df4.head()

,City Population,Venue Capacity,Multiple Concerts,Sold Out,Continent_Asia,Continent_Europe,Continent_North America,Continent_South America,Day Of Week_Friday,Day Of Week_Monday,Day Of Week_Saturday,Day Of Week_Sunday,Day Of Week_Thursday,Day Of Week_Tuesday,Day Of Week_Wednesday
0,824530,3877,1,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,466109,17752,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,595926,8796,1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,765066,14274,0,1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,91716,5728,1,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [73]:
# since sold out is out target variable 
X = df4.drop(['Sold Out'], axis  =1)

In [74]:
y = df4['Sold Out']

In [76]:
X.shape

(41, 14)

In [77]:
y.shape

(41,)

In [78]:
 from sklearn.model_selection import train_test_split

In [79]:
X_train, X_test, y_train, y_test = train_test_split(X,y ,test_size = 0.2, random_state = 12)

In [80]:
from sklearn.naive_bayes import GaussianNB

In [81]:
gnb = GaussianNB()

In [82]:
gnb.fit(X_train,y_train)

GaussianNB()

In [83]:
y_pred = gnb.predict(X_test)

In [84]:
from sklearn.metrics import classification_report

In [86]:
print(classification_report(y_test , y_pred))

              precision    recall  f1-score   support

           0       1.00      0.25      0.40         4
           1       0.62      1.00      0.77         5

    accuracy                           0.67         9
   macro avg       0.81      0.62      0.58         9
weighted avg       0.79      0.67      0.61         9

In [87]:
from sklearn.metrics import confusion_matrix

In [89]:
print(confusion_matrix(y_test, y_pred))

[[1 3]
 [0 5]]

In [93]:
gnb.score(X_train, y_train)

0.6875

In [94]:
gnb.score(X_test, y_test)

0.6666666666666666

In [95]:
# lets add in parameter

In [96]:
param_grid = {
    'var_smoothing' : [0.000000001, 0.000000001, 0.00000001]
}

In [97]:
from sklearn.model_selection import GridSearchCV

In [98]:
gs = GridSearchCV(gnb , param_grid, cv=5, scoring = 'accuracy',n_jobs = -1)

In [99]:
gs.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=GaussianNB(), n_jobs=-1,
             param_grid={'var_smoothing': [1e-09, 1e-09, 1e-08]},
             scoring='accuracy')

In [100]:
gs.best_params_

{'var_smoothing': 1e-09}